.movies-card-list {
    min-height: 458px;
    padding: 70px 30px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}

.movies-card-list__more {
    margin: 50px auto 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies-card-list__not-found {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    margin: 0 auto;
    color: #8B8B8B;
}

.movies-card-list__more._hidden {
    display: none;
}

.more__button {
    width: 320px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #424242;
}

.more__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .movies-card-list {
        max-width: 708px;
    }
}

@media (max-width: 748px) {
    .movies-card-list {
        padding: 40px 0 0;
        max-width: 300px;
        row-gap: 20px;
    }

    .more__button {
        width: 240px;
        height: 36px;
    }
}