.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    height: 524px;
    background-color: #073042;
    position: relative;
}

.promo__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    max-width: 736px;
    text-align: center;
}

.promo__logo {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}