.page__content {
    background-color: #202020;
    margin: 0;
    color: #fff;
}

.page__content_green {
    background-color: #073042;
}

.page__content_grey {
    background-color: #272727;
}

.page__content_black {
    background-color: #202020;
}

.page__section {
    max-width: 1140px;
    margin: 0 auto;
}