.register {
    font-family: 'Inter', sans-serif;
    max-width: 396px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.register__logo {
    margin: 70px 0 0;
}

.register__welcome {
    margin: 40px 0 0;
}

.register__form {
    margin: 40px 0 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 100%;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border-radius: 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #424242;
    padding: 0 0 10px;
    margin: 5px 0 0;
}

.input-title {
    font-weight: 400;
    color: #8B8B8B;
    font-size: 10px;
    line-height: 12px;
    margin: 24px 0 0;
}

.register__input-title:first-child {
    margin: 0;
}

.register__button {
    margin: 152px 0 0;
}

.button {
    width: 100%;
    height: 45px;
    background-color: #4285F4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: none;
    outline: none;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.register__question {
    margin: 16px 0 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    align-self: center;
}

.register__login-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #4285F4;
}

.register__login-link:hover {
    opacity: 0.8;
}

@media (max-width: 475px) {
    .register {
        max-width: 260px;
        align-items: center;
    }
    .register__button {
        margin: 240px 0 0;
    }
    .register__question {
        margin: 16px 0 30px;
    }
}