.about-me {
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-height: 1079px;
}

.about-me__title {
    margin: 110px 0 66px;
}

.my-info {
    display: flex;
    justify-content: space-between;
}

.my-info__description {
    display: flex;
    flex-direction: column;
}

.my-info__name {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}

.my-info__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 18px 0 0 0;
    max-width: 600px;
}

.my-info__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 26px 0 0 0;
    max-width: 600px;
}

.my-info__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

.contacts {
    margin: 99px 0 0 0;
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
}

.contacts__link:last-child {
    margin: 0;
}